
.check-box .box{
    -fx-background-color: #292E37;
    -fx-border-color: white;
    -fx-border-radius: 3px;
}

.check-box:selected .mark{
    -fx-background-color: white;
}


.scroll-bar:vertical{
    -fx-background-color: white;
}

.scroll-bar:vertical .track{
    -fx-background-color: white;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #292E37;
}

