<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="gamer"
        class = "models.Gamer">
    </bean>

    <bean id="gamerRequirements"
        class="models.GamerRequirements">
    </bean>

    <bean id = "validator"
        class = "functionality.Validator">
    </bean>

    <bean id = "post"
          class="models.Post">
    </bean>

    <bean id = "postfunctionalityservice"
        class="functionality.PostFunctionalityService">
    </bean>

    <bean id = "filter"
          class = "models.Filter">
    </bean>

    <bean id = "notification"
          class="models.Notification">
    </bean>

    <bean id = "group"
          class="models.Group">
    </bean>

</beans>